<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="flex.android.magiccube"
    android:versionCode="3"
    android:versionName="2.0.1" >

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>
    
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>
   	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
   	<uses-permission android:name="android.permission.BLUETOOTH" />
   	<uses-permission android:name="android.permission.VIBRATE"/>
   	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/android:Theme.NoTitleBar.Fullscreen" >
        
        <activity
            android:name="flex.android.magiccube.welcome.SplashActivity"
            android:configChanges="keyboardHidden"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="flex.android.magiccube.welcome.GuideActivity"
            android:configChanges="keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        
        <activity
            android:name="flex.android.magiccube.mainmenu.ActivityMain">
<!--             android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        
        <activity android:name = "flex.android.magiccube.activity.ActivityNormalMode"/>
       
        <activity android:name = "flex.android.magiccube.activity.ActivityClockingMode"/>
   		
   		<activity android:name = "flex.android.magiccube.activity.ActivityAutoMode"/>
   		
   		<activity android:name = "flex.android.magiccube.activity.ActivityBattleMode"/>
   		
   		<activity android:name = "flex.android.magiccube.activity.ActivityReplayMode"/>
   		
   		<activity android:name = "flex.android.magiccube.activity.BasicGameActivity"/>
   		
   		<activity android:name = "flex.android.magiccube.bluetooth.BluetoothChat"/>
   		
		<activity android:name = "flex.android.magiccube.bluetooth.ActivityTab"
		          android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden"/>
		
		<activity android:name = "flex.android.magiccube.bluetooth.ActivityServer"/>
		
		<activity android:name = "flex.android.magiccube.bluetooth.ActivityClient"/>
   		
   		
   		<activity android:name = "flex.android.magiccube.bluetooth.DeviceListActivity"
   		          android:label="@string/select_device"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden"/>

    	<activity android:name = "flex.android.magiccube.activity.ReplayListActivity"
   		          android:label="@string/select_replay"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden"/>
   		
    </application>

</manifest>
